.header {
    background: var(--white);
    padding: 16px 0 77px;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
    margin-top: 49px;
}

@media (max-width: 768px) {
    .header__title {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
    }

    .header {
        background: var(--page);
        padding: 16px 0;
    }
}