.tabs {
    position: relative;
    background: #F9FAFC;
}

.tabs__input {
    appearance: none;
    position: absolute;
}

.tabs__list {
    margin-left: 16px;
    display: flex;
    gap: 40px;
}

.tabs__scroller {
    background: var(--white);
    border-bottom: 1px solid var(--grey-2);
    overflow-x:auto;
}

.tabs__content {
    padding: 36px;
}

.tabs__control {
    cursor: pointer;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    white-space: nowrap;
}

.tabs__inner {
    padding-top: 68px;
    background: #F9FAFC;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#all-tab:checked ~ .tabs__scroller [for="all-tab"],
#elements:checked ~ .tabs__scroller [for="elements"],
#containers:checked ~ .tabs__scroller [for="containers"],
#templates:checked ~ .tabs__scroller [for="templates"] {
    color: var(--black);
    border-bottom: 5px solid var(--black);
}


#all-tab:checked ~ .tabs__content_all-tab,
#elements:checked ~ .tabs__content_elements,
#containers:checked ~ .tabs__content_containers,
#templates:checked ~ .tabs__content_templates {
    display: block;
}

#all-tab:not(:checked) ~ .tabs__content_all-tab,
#elements:not(:checked) ~ .tabs__content_elements,
#containers:not(:checked) ~ .tabs__content_containers,
#templates:not(:checked) ~ .tabs__content_templates {
    display: none;
}

@media screen and (max-width: 376px){
    .tabs__content {
        padding: 16px;
    }

    .tabs__inner {
        justify-content: space-between;
        gap: 5px;
    }
}