.card {
    min-height: 267px;
    background:var(--white);
    border-radius: 12px;
    font-size: 16px;
    vertical-align: top;
    display: grid;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    grid-template-rows: 1fr 47px;
    gap: 15px;
}

.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .card {
        width: 164px;
        height: 210px;
    }

    .card__title {
        height: 49px;
        margin-bottom: 0;
        border-top: 1px solid hsla(203, 13%, 88%, 1);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}