.main-part {
    left: 0px;
    background: var(--page);
    padding: 68px 0;
}

.main-part__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-part__card {
    flex-basis: 350px;
}

@media (max-width: 768px) {
    .main-part__inner {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }

    .main-part__card {
        flex-basis: 164px;
    }

    .main-part {
        display: flex;
        padding: 22px 0;
    }
}