.main-part {
    left: 0px;
    background: var(--page);
    padding: 68px 0;
}

.main-part__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-part__card {
    /* width: calc(100% / 3 - 30px); */
    flex-basis: 350px;
}