.toggle {
    display: inline-block;
    position: relative;
  }
  
  .toggle__input {
    clip: rect(0,0,0,0);
    position: absolute;
  }
  
  .toggle__wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .toggle__control {
    width: 52px;
    height: 28px;
    border-radius: 16px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    position: relative;
  }
  
  .toggle__control::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--grey-2);
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
  }
  
  .toggle__control, .toggle__control::after {
    transition: all .2s linear;
  }
  
  .toggle__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
  }
  
  .toggle__input:checked ~ .toggle__wrapper .toggle__control {
    background: var(--blue-1);
    border-color: var(--blue-1);
  }
  
  .toggle__input:checked ~ .toggle__wrapper .toggle__control::after {
    background: var(--white);
    left: 24px;
  }
  
  .toggle__input:disabled ~ .toggle__wrapper .toggle__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
  }
  
  .toggle__input:disabled ~ .toggle__wrapper .toggle__control::after {
    background: var(--grey-3);
  }