.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--grey-7);
    min-width: 508px;
    min-height: 381px;
}

.modal__form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 448px;
    min-height: 294px;
}

.modal__conteiner {
    margin: auto;
}

.modal__window {
    padding: 15px 40px 30px 40px;
    border-radius: 8px;
    background: var(--white);
}

.modal__close {
    display: flex;
    cursor: pointer;
    left: 360px;
    position: relative;
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    color: #334D6E;
}

.modal__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    /* Gray 4 */
    
    color: var(--grey-4);
}