@import '../fonts/fonts.css';
@import './normalize.css';
@import '../../components/header/header.css';
@import '../../components/conteiner/conteiner.css';
@import '../../components/footer/footer.css';
@import '../../components/main-part/main-part.css';
@import '../../components/card/card.css';
@import '../../04-lection2/01-histogram/histogram.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --total-black: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-1: rgba(80, 40, 198, 1);
    --blue: #374FC7;
    --blue-1: rgba(35, 66, 192, 1);
    --blue-2: #4263EB;
    --red: #F03D3E;
    --red-1: #D84910;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: rgba(255, 255, 255, .5);

    --error: var(--red);
    --success: var(--blue);
    --disabled: var(--grey-5);
    --notification: var(--red-1);

    --primary: var(--blue);
    --secondary: var(--purple);
    --primary-hover: var(--blue-1);
    --secondary-hover: var(--purple-1);
    --page: #F9FAFC;
    --gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}