.footer {
    background: var(--white);
    padding: 71px 0 136px 0;
    text-align: center;
    color: var(--black);
}

.footer__header {
    font-weight: 500;
    margin: 0 0 32px 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.footer__text {
    max-width: 640px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 768px) {
    .footer {
        margin: 15px;
    }
}
