.component {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 28px;
    min-width: 825px;
    background: var(--white);
    padding: 32px 48px;
}

.component__header {
    color: var(--grey-4);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}

@media (max-width: 768px) {
    .component {
        min-width: 375px;
        padding: 32px 16px;
    }
}