.histogram {
    max-width: 354px;
    font-family: 'Inter', sans-serif;
    padding: 16px 24px 24px 24px;
    background: var(--white);
    border-radius: 8px;
    border: 1px solid #ACB5BD;
}

.histogram__conteiner {
    max-width: 100%;
    position: relative;
}

.histogram__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-2);
    text-decoration: none;
}

.histogram__header {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin-bottom: 39px;
}

.histogram__chart {
    height: calc(var(--chart-height) * 1px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
.histogram__chart div {
    height: calc(var(--value) * 1px);
    background-color: var(--blue-2);
    min-width: 9px;
    flex-grow: 1;
    margin: 0 0 0 1px;
    cursor: pointer;
}

.histogram__chart div:first-child {
    margin: 0;
}

.histogram-padding {
    margin: 80px 26px 75px 26px;
}
